<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="site-shell">
      <%- include('../partials/header') %>
      <main class="site-main">
        <%- body %>
      </main>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>